.gridbox{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2vw;
   
}
    



.box{
    font-size: 50px;
    padding: .5em;
    background: lightblue;
    text-align: center;
    border: 1px solid black;
}


.reset{
    padding-top: 30px;
    padding-left: 30px;
}